PlanetRouteMapper/src/main/webapp/schemas/RouteResponse.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="route">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="planetNode"/>
              <xs:element type="xs:string" name="planetName"/>
              <xs:element type="xs:float" name="distance"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>