PlanetRouteMapper/src/main/webapp/schemas/RouteRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://webservices.samples.blog.com" targetNamespace="http://webservices.samples.blog.com" elementFormDefault="qualified" attributeFormDefault="unqualified">

<xs:element name="RouteRequest" type="RouteRequest"/>
	<xs:complexType name="RouteRequest">
      <xs:sequence>
        <xs:element type="xs:string" name="planetOrigin"/>
        <xs:element type="xs:string" name="planetDestination"/>
      </xs:sequence>
    </xs:complexType>

</xs:schema>